.trans-black{
	background-color:rgba(0,0,0,0.7);
}
.reveal .big-red{
	color:rgb(255,0,0);
}
.reveal h1, .reveal h2, .reveal h3{
	text-transform:none;
}

.reveal #big{
	font-size:60px;
	position:fixed;
	top:25%;
	left:25%;
}

.reveal .underline{
	text-decoration:underline;
}

.green{
	color:rgb(0,255,0);
}